@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 10px 16px;
  text-align: center;
  font-family: "Varela Round";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 5px;
  background-color: #e6c6c5;
  color: black;
  margin-bottom: 20px;
}

.box {
  background-color: rgba(247, 197, 218, 0.5);
  max-width: 1000px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

body {
  position: relative; 
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {    
    content: "";
    background-image: url('./img/1.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    border: 0;
}

h1 {
  font-family: "Varela Round";
  font-size: 72px;
  line-height: 75px;
  letter-spacing: 15px;
  color: black;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}

h3 {
  font-family: "Varela Round";
  font-size: 24px;
  line-height: 25px;
  color: black;
  text-align: center;
}